services:
  prometheus:
    image: prom/prometheus
    container_name: beacon-prometheus
    ports:
      - "9191:9090"
    volumes:
      - ./docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    container_name: beacon-grafana
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - "3000:3000"


volumes:
  grafana-data: